$text-font-main: 'DM Sans', serif;
$text-font-body: 'Inter', sans-serif;

$white-pure: #ffffff;
$gray-shark: #1e1f23;
$flamenco: #ff7a03;

$text-color: $white-pure;
$text-color-lighter: #989797;
$bg-color: $gray-shark;
$selection-color: #c6dff0;
$link-color: $text-color;
$link-hover-color: $flamenco;

$container-sm: 800px;
$container-m: 1160px;
$container-padding: 20px;

$breakpoint-mobile-l: 426px;
$breakpoint-tablet: 768px;
$breakpoint-monitor-sm: 1024px;
$breakpoint-monitor-m: 1440px;
$breakpoint-monitor-l: 1920px;
$breakpoint-monitor-4k: 2560px;
