<!DOCTYPE html>
<html lang="{{ page.language }}">
<head>
  <title>Ken San Angelo - Web Developer</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="shortcut icon" href="/favicon.ico">  
  <link rel="icon" href="/favicon.png">

  <script src="https://kit.fontawesome.com/2eea029c1c.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Playfair+Display%7CSource+Sans+Pro:400,700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/assets/css/main.css" />
</head>
<body>