{% assign landing = copy.landing %}

<section id="landing">
	<div class="title-container">
		<div class="title">
			<h1>{{ landing.title }}</h1>
			<h2>{{ landing.subtitle }}</h2>
		</div>
	</div>
	<div class="portrait-container">
		<picture>
			<source 
			   media="(min-width: 768px)"
			   srcset="{{ landing.img.link }}">
			<source 
			   media="(min-width: 320px)"
			   srcset="{{ landing.img.small-link }}">
			<img src="{{ landing.img.small-link }}" 
			alt="{{ landing.img.alt }}">
		 </picture>
	</div>
</section>