{% assign landing = copy.landing %}

{% include img-url-fixer.html img-url=landing.img.name %}


<section id="landing">
	<div class="title-container">
		<div class="title">
			<h1>{{ landing.title }}</h1>
			<h2>{{ landing.subtitle }}</h2>
		</div>
	</div>
	<div class="portrait-container">
		<div class="portrait-inner">
			<picture>
				<source 
				media="(min-width: 768px)"
				srcset="{{ img-url-2x }} 2x, {{ img-url }}  1x">
				<source 
				media="(min-width: 320px)"
				srcset="{{ img-url-small-2x }} 2x, {{ img-url-small }} 1x">
				<img src="{{ img-url-small }}" 
				alt="{{ landing.img.alt }}">
			</picture>
		</div>
	</div>
</section>