{% assign testimonial = copy.testimonial %}

{% include img-url-fixer.html img-url=testimonial.img.name %}

<section id="testimonial" class="container">
	<blockquote class="quote-container">
		<p class="quote">{{ testimonial.quote }}</p>
		<footer>
			<cite class="name">{{ testimonial.name }} <span class="position">{{ testimonial.position }}</span></cite>
		</footer>
	</blockquote>
	<picture>
		<source srcset="{{ img-url-2x }} 2x, {{ img-url }}  1x">
		<img src="{{ img-url }}" alt="{{ testimonial.img.alt }}">
	 </picture>
</section>