{% assign work = copy.work %}

<section id="work" tabindex="-1">
	<div class="slides">
		<div class="thumb-slide">
			{% assign i = 1 %} {% for project in work.projects %}
			<button
				class="thumb"
				data-order="{{ i }}"
				aria-label="Go to {{ project.name }} slide"
				type="button"
			>
				<h4>{{ project.name }}</h4>

				{% include img-url-fixer.html img-url=project.img.name %}
				<picture>
					<source
						media="(min-width: 768px)"
						srcset="{{ img-url-2x }} 2x, {{ img-url }}  1x"
					/>
					<source
						media="(min-width: 320px)"
						srcset="{{ img-url-small-2x }} 2x, {{ img-url-small }} 1x"
					/>
					<img src="{{ img-url-small }}" alt="{{ project.img.alt }}" />
				</picture>
			</button>

			{% assign i = i | plus:1 %} {% endfor %}
		</div>
		{% assign i = 1 %} {% for project in work.projects %}
		<div class="project-slide" id="slide-{{ i }}">
			<div class="project">
				<div class="row">
					<div class="img-container">
						{% include img-url-fixer.html img-url=project.img.name %}
						<picture>
							<source srcset="{{ img-url-2x }} 2x, {{ img-url }}  1x" />
							<img
								class="main-img"
								src="{{ img-url }}"
								alt="{{ project.img.alt }}"
							/>
						</picture>
					</div>
					<div class="info-container first-info">
						<button
							class="return-arrow"
							data-slide="{{ i }}"
							aria-label="Go back to main slide"
							type="button"
						>
							<i class="fas fa-arrow-left"></i>
						</button>
						<h4>{{ project.slide.full-name }}</h4>
						<ul>
							<li>
								{{ project.slide.site-link.name }}
								<a
									href="{{ project.slide.site-link.url }}"
									target="_blank"
									>{{ project.slide.site-link.url }}</a
								>
							</li>

							{% unless project.slide.git-link.url == "" %}
							<li>
								{{ project.slide.git-link.name }}
								<a
									href="{{ project.slide.git-link.url }}"
									target="_blank"
									>{{ project.slide.git-link.url }}</a
								>
							</li>
							{% endunless %}
						</ul>
						<h5 class="info-title">{{ project.slide.summary.title }}</h5>
						<p class="info">{{ project.slide.summary.text }}</p>
					</div>
				</div>
				<div class="row">
					<div class="img-container">
						{% include img-url-fixer.html
						img-url=project.slide.writeup.img-1.name %}
						<picture>
							<source srcset="{{ img-url-2x }} 2x, {{ img-url }}  1x" />
							<img
								class="main-img"
								src="{{ img-url }}"
								alt="{{ project.slide.writeup.img-1.alt }}"
							/>
						</picture>
					</div>
					<div class="info-container">
						<h5 class="info-title">
							{{ project.slide.writeup.role.title }}
						</h5>
						<p class="info">{{ project.slide.writeup.role.text }}</p>
						<h5 class="info-title">
							{{ project.slide.writeup.problem.title }}
						</h5>
						<p class="info">{{ project.slide.writeup.problem.text }}</p>
					</div>
				</div>
				<div class="row">
					<div class="img-container">
						{% include img-url-fixer.html
						img-url=project.slide.writeup.img-2.name %}
						<picture>
							<source srcset="{{ img-url-2x }} 2x, {{ img-url }}  1x" />
							<img
								class="main-img"
								src="{{ img-url }}"
								alt="{{ project.slide.writeup.img-2.alt }}"
							/>
						</picture>
					</div>
					<div class="info-container">
						<h5 class="info-title">
							{{ project.slide.writeup.solution.title }}
						</h5>
						<p class="info">{{ project.slide.writeup.solution.text }}</p>
						<h5 class="info-title">
							{{ project.slide.writeup.results.title }}
						</h5>
						<p class="info">{{ project.slide.writeup.results.text }}</p>
						<button
							class="return-arrow"
							data-slide="{{ i }}"
							aria-label="Go back tp main slide"
							type="button"
						>
							<i class="fas fa-arrow-left"></i
							><span class="go-back">{{ work.back-button }}</span>
						</button>
					</div>
				</div>
			</div>
		</div>
		{% assign i = i | plus:1 %} {% endfor %}
	</div>
</section>
