{% assign work = copy.work %}

<section id="work">
	<div class="slides">
		<div class="thumb-slide">
			{% assign i = 1 %}
			{% for project in work.projects %}
				<button class="thumb" data-order="{{ i }}">
						<h4>{{ project.name }}</h4>
						<img class="thumb-img" src="{{ project.img.link }}" alt="{{ project.img.alt }}">
				</button>

				{% assign i = i | plus:1 %}
			{% endfor %}
		</div>
		{% assign i = 1 %}
		{% for project in work.projects %}
			<div class="project-slide" id="slide-{{ i }}">
				<div class="project">
					<div class="row">
						<div class="img-container">
							<img class="main-img" src="{{ project.img.link }}" alt="{{ project.img.alt }}">
						</div>
						<div class="info-container">
							<button class="return-arrow" data-slide="{{ i }}"><i class="fas fa-arrow-left"></i></button>
							<h4>{{ project.slide.full-name }}</h4>
							<ul>
								<li>Site Link: <a href="{{ project.site-link }}">{{ project.slide.site-link }}</a></li>

								{% unless project.slide.git-link == "" %}
									<li>Github Link: <a href="{{ project.slide.git-link }}">{{ project.slide.git-link }}</a></li>
								{% endunless %}
							</ul>
							<p>{{ project.slide.summary }}</p>
						</div>
					</div>

					{% for paragraph in project.slide.writeup %}
					<div class="row">
						<div class="img-container">
							<img class="main-img" src="{{ paragraph.img.link }}" alt="{{ paragraph.img.alt }}">
						</div>
						<div class="info-container">
							<p>{{ paragraph.copy }}</p>
							
							{% if forloop.last == true %}
								<button class="return-arrow" data-slide="{{ i }}"><i class="fas fa-arrow-left"></i><span class="go-back">Go Back</span></button>
							{% endif %}
						
						</div>
					</div>
					{% endfor %}
				</div>
			</div>
			{% assign i = i | plus:1 %}
		{% endfor %}
	</div>
</section>