#about a
  color: $link-color
  background: linear-gradient(to bottom, $link-hover-bg-color 0%, $link-hover-bg-color 100%)
  background-position: 0 100%
  background-repeat: repeat-x
  background-size: 4px 2px
  text-decoration: none
  @include transition(background-size .5s)
  
  &:hover, &:focus
    background-size: 4px 50px