#contact
  padding: 40px 0 42px
  border-top: 1px solid #ddd
  border-bottom: 1px solid #ddd

  h5
    font-size: 1.8em
    font-weight: 200
    text-align: center
    margin: 0 0 15px

  .email-button
    max-width: 224px
    display: block
    text-decoration: none
    text-align: center
    color: $link-color
    font-family: 'Playfair Display', serif
    font-size: 1.6em
    margin: 0 auto
    padding: 20px 62px 26px
    border: 2px solid $accent-color
    border-radius: 6px

    @include transition(all 1.4s ease-in-out)

    background-color: $bg-color
    background-image: linear-gradient(to right, $bg-color 0%, $bg-color 24%, $selection-color 26%, $bg-color 30%, $bg-color 35%, $selection-color 40%, $bg-color 41%, $selection-color 70%, $selection-color 100%)
    background-size: 500%

    &:hover
      background-color: $link-hover-color
      background-position: right center
      color: #719ec1
      border-radius: 50px

  .social
    text-align: center
    margin-top: 16px

  a
    font-size: 3em
    color: #bbb
    text-decoration: none

    &:hover
      color: $link-hover-color

