$total-width: (100%*$num-projects)+100%
$slide-width: 100%/($num-projects+1)

#work
  width: 100%
  overflow-x: hidden

  h4
    margin-top: 0
    margin-bottom: 0

  .slides
    width: (100%*$num-projects)+100%
    position: relative
    left: -100%

  .thumb-slide
    width: $slide-width
    float: left

  .thumb
    margin-bottom: 20px
    max-width: 600px
    margin-left: auto
    margin-right: auto

    h4
      margin: 0 0 -20px

    a
      text-decoration: none
      color: $text-color

      &:hover
        color: $text-color

    img
      transition: filter .5s ease-in-out
      transition: opacity .5s ease-in-out
      -webkit-filter: grayscale(100%)
      filter: grayscale(100%)
      opacity: .4
      margin: 15px 0

      border: 1px solid #000
    
      &:hover
        -webkit-filter: grayscale(0%)
        filter: grayscale(0%)
        opacity: 1

  .project-slide
    width: $slide-width
    margin-bottom: 20px
    float: left

    .project
      max-width: 600px
      margin-left: auto
      margin-right: auto

      .return-arrow
        color: $link-color

        &:hover
          cursor: pointer
          color: $link-hover-color


  @media only screen and (min-width: $breakpoint-tablet)
    .thumb-slide
      display: flex
      justify-content: center


  @media only screen and (min-width: $breakpoint-tablet) and (max-width: $breakpoint-monitor-sm)
    .thumb
      margin-left: 5px
      margin-right: 5px


  @media only screen and (min-width: $breakpoint-monitor-sm)
    .thumb
      margin-left: 15px
      margin-right: 15px
    