$total-width: 201%
$slide-width: 50%

#work
  width: 100%
  overflow-x: hidden

  h4
    margin-top: 0
    margin-bottom: 0

  img
    border: 1px solid #000

  .slides
    width: $total-width
    position: relative
    left: 0
    @include transition(left .5s ease-in-out)

    &.project-open
      left: -100%

  .thumb-slide
    width: $slide-width
    float: left

    @media only screen and (min-width: $breakpoint-tablet)
      display: flex
      justify-content: center


  .thumb
    margin-bottom: 20px
    max-width: 600px
    display: block
    margin-left: auto
    margin-right: auto
    color: $text-color

    @media only screen and (min-width: $breakpoint-tablet) and (max-width: $breakpoint-monitor-sm)
      margin-left: 5px
      margin-right: 5px

    @media only screen and (min-width: $breakpoint-monitor-sm)
      margin-left: 15px
      margin-right: 15px

    h4
      margin: 0 0 -20px
      text-align: left

    img
      @include transition(filter .5s ease-in-out)
      @include transition(opacity .5s ease-in-out)
      @include grayscale(100%)
      opacity: .4
      margin: 15px 0

    &:hover, &:focus
      cursor: pointer

      img
        @include grayscale(0%)
        opacity: 1

  .project-slide
    width: $slide-width
    margin-bottom: 20px
    float: left

    &.hidden
      display: none

    .project
      max-width: $container-m
      margin-left: auto
      margin-right: auto
      position: relative

      .row
        display: block

        @media only screen and (min-width: $breakpoint-tablet)
          display: flex

        .img-container, .info-container
          padding: 15px

          @media only screen and (min-width: $breakpoint-monitor-sm)
            flex: 50%

        .img-container
          max-width: 450px
          margin: 0 auto
          
          @media only screen and (min-width: $breakpoint-tablet)
            max-width: none
          
          @media only screen and (min-width: $breakpoint-tablet) and (max-width: $breakpoint-monitor-sm)
            flex: 40%

        .info-container
          @media only screen and (min-width: $breakpoint-tablet)  and (max-width: $breakpoint-monitor-sm)
            flex: 60%

      h4
        display: inline
        margin-left: 5px

      ul
        margin-top: 0.9em
        margin-bottom: 0.9em

      .summary-title
        margin-top: 0
        margin-bottom: 0.3em
        font-weight: 600
        font-size: 1rem

      .summary
        @media only screen and (min-width: $breakpoint-tablet)
          margin-left: 1em

      .return-arrow
        color: $link-color
        font-size: 1.2rem
        display: inline
        position: relative
        top: -6px
        @include transition(color 200ms ease-in-out)

        i
          border: 2px solid $link-color
          font-size: 0.8rem
          padding: 5px
          border-radius: 50%
          @include transition(border-color 200ms ease-in-out)

        .go-back
          position: relative
          left: 6px
          top: 2px

        &:hover
          color: $link-hover-color

          i
            border-color: $link-hover-color

    